@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root {
  --mostrando: silver;
  --esperando: gray;
  --flotando: black;
}

body{
  background: #ccc; /*color fondo entero, no es el rectangulo*/
  color: #008F39;
  font-family: 'Times New Roman', serif;

}

#bloque {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(calc(90% - 2rem), 500px);
    height:auto;
    padding: 1rem;
    margin: auto;
    background: white;
    border-radius: .5rem;
    z-index: 9999;
}

h1,h2, span.asimovian-regular {
  font-family: "Asimovian", sans-serif;
  font-style: normal;
}


h1{ 
  color: #2D572C;
  font-size: calc(2rem + 2vw); 
}

h2{
  color: #80C000;
  font-size: calc(1rem + 1vw);
}

p{
  padding:0.5rem 0;
}

nav{
  margin:1rem 0;  
}

nav a{
  line-height: 1;
  text-decoration: none;
  color:black;
  margin:0 1rem 0 0;
  padding:0.3rem 1rem;
  background:var(--esperando);
  border-radius: .6rem;
  transition:all ease .75s;
}

nav a:hover{
  color:white;
  background:var(--flotando);  
  transition:all ease .75s;
}

nav a.active{
  color:black;
  background:var(--mostrando);
}
